
body {
    width: 700px;
    height: 100vh;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: auto;
    border: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
header{
    margin: 10px;
    padding: 10px;
    width: 90%;
    text-align: center;
    color: black;
    background-color: aquamarine;
    border-radius: 20px;
}



#container,#devisesAConvertir,#resultatConversion{
    text-align: center;
    color: black;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    gap: 20px;

}
#container{
    border: 1px solid black;
    flex-direction: column;
    width: 90%;
    padding: 20px;
    background-color: #27b151;
}

#container input{
    font-size: 20px;
    width: 150px;
    text-align: center;
}
#container select{
    font-size: 20px;
    text-align: center;
}
#container button{
    font-size: 20px;
    padding: 10px;
    border-radius: 20px;
    background-color: rgb(77, 134, 183);
}
#container button:hover {
    cursor: pointer;
    background-color: aquamarine;
    font-weight: bold;
}
